a {
  color: #ffffff;
  text-decoration: none;
}

.bg-memu {
  background: #000000 url(../img/about_my/about_my.jpg) center center no-repeat;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
  margin: 0;
  font-family: Raleway;
}

.section {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.section a {
  margin-right: 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.section a:hover {
  color: #009900;
}

.menu-btn {
  margin: 0 !important;
  font-size: 10px;
  margin-right: -50px !important;
}

.bg-memu {
  background: #000000 url(../img/about_my/about_my.jpg) center center no-repeat;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
  margin: 0;
  font-family: Raleway;
}

.section {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.section a {
  margin-right: 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.section a:hover {
  color: #009900;
}

.menu-btn {
  margin: 0 !important;
  font-size: 10px;
  margin-right: -50px !important;
}

.name {
  text-align: center;
  padding-top: 50px;
}

.name h1 {
  font-size: 100px;
  font-family: "Quicksand", sans-serif;
}

.name p {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
}

.bg-memu {
  background: #000000 url(../img/about_my/about_my.jpg) center center no-repeat;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
  margin: 0;
  font-family: Raleway;
}

.section {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.section a {
  margin-right: 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.section a:hover {
  color: #009900;
}

.menu-btn {
  margin: 0 !important;
  font-size: 10px;
  margin-right: -50px !important;
}

.about {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
}

.about li {
  margin: 0;
}

.proff {
  text-align: center;
  font-size: 30px;
  font-family: Raleway;
}

.proff_col {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Raleway;
  font-size: 15px;
  text-align: center;
}

.bg-memu {
  background: #000000 url(../img/about_my/about_my.jpg) center center no-repeat;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
  margin: 0;
  font-family: Raleway;
}

.section {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.section a {
  margin-right: 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.section a:hover {
  color: #009900;
}

.menu-btn {
  margin: 0 !important;
  font-size: 10px;
  margin-right: -50px !important;
}

.work_bg {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

.work_dlok {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_bg a {
  font-family: Raleway;
}

.work_bg p {
  font-family: Raleway;
  font-size: 26px;
  margin: 0;
  text-align: center;
}

.bg-memu {
  background: #000000 url(../img/about_my/about_my.jpg) center center no-repeat;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
  margin: 0;
  font-family: Raleway;
}

.section {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.section a {
  margin-right: 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.section a:hover {
  color: #009900;
}

.menu-btn {
  margin: 0 !important;
  font-size: 10px;
  margin-right: -50px !important;
}

.icon-fontello {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
  font-size: 250px;
}

.bg-memu {
  background: #000000 url(../img/about_my/about_my.jpg) center center no-repeat;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
  margin: 0;
  font-family: Raleway;
}

.section {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.section a {
  margin-right: 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.section a:hover {
  color: #009900;
}

.menu-btn {
  margin: 0 !important;
  font-size: 10px;
  margin-right: -50px !important;
}

.syrtificates {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.syrtificates .icon {
  font-size: 375px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.syrtificates .icon_html:hover {
  color: #FF8C00;
}
.syrtificates .icon_css:hover {
  color: #4682B4;
}

@media (max-width: 1023px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .work_dlok {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .icon-fontello {
    font-size: 150px;
  }
}
@media (max-width: 767px) {
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
  }

  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
  }

  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .menu-btn span::before {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  .menu-btn span::after {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }

  .menu-btn_active span:before {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
    width: 10px;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }

  .menu-btn_active span:after {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 10px;
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }

  .menu-block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-nav a {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: 100;
    display: inline-block;
    margin-right: 20px;
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 6px;
  }

  .menu-nav {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scaleX(0) translateX(0%);
            transform: scaleX(0) translateX(0%);
    -webkit-transform-origin: right center;
            transform-origin: right center;
    opacity: 0;
    visibility: hidden;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .menu-nav_active {
    -webkit-transform: scaleX(1) translateX(0%);
            transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
  }

  .name h1 {
    font-size: 80px;
  }

  .name p {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .work_dlok {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
}
@media (max-width: 767px) {
  .icon-fontello {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .syrtificates {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }

  .syrtificates a {
    margin: 0 !important;
  }
}
@media (max-width: 424px) {
  .menu-nav a {
    margin-right: 5px;
  }
}
@media (max-width: 374px) {
  .menu-nav a {
    margin-right: 2px;
  }

  .name h1 {
    font-size: 60px;
  }

  .name p {
    font-size: 20px;
  }
}
